.App {
  text-align: center;
  height: 100vh;
}


.line-number {
  width: 30px;
  text-align: right;
  color: #888;
  /* Line number color */
}

/* Style for the input field */
.line-input {
  width: 100%;
  border: none;
  outline: none;
}

.line {
  position: absolute;
  left: 35px;
  width: 2px;
  background-color: #888;
  height: 100%;
}

